.card-content {
    margin-top: 16%;
    position: relative;
  }
  .image{
      position: relative;
  }
  .card {
    position: absolute;
    bottom: -12%;
    left: 5%;
    background: linear-gradient(
      94.33deg,
      rgba(255, 255, 255, 0.6) 3.19%,
      rgba(255, 255, 255, 0.1) 99.26%
    );
    border-radius: 15px;
    padding: 15px;
    width: 44vh;
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #B2B2B24D 80%, #B2B2B24D 30%);
  }
  .body {
    display: inline;
    button {
      margin: 10px 20px 0 0;
      width: 10vh;
      height: 4vh;
      background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
      border-radius: 10px;
      border-color: transparent;
    }
  }