@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Ubuntu&family=Dancing+Script:wght@700&display=swap");
$Exo2: "Exo 2", sans-serif;
$Ubuntu: "Ubuntu", sans-serif;
$Dancing: "Dancing Script";
$White: #ffffff;
body {
  font-family: $Exo2;
}

.explore-container {
  color: black;
  padding: 65px 55px;
  h1 {
    font-size: 64px;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 18px;
    width: 23%;
    word-wrap: normal;
  }
}
.exp-content-wrapper {
  display: flex;
  justify-content:space-between;
}

.exp-content {
  padding-top:30px;
  position: relative;
}
.image{
    position: relative;
}
.card {
  position: absolute;
  bottom: -12%;
  left: 5%;
  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  border-radius: 15px;
  padding: 15px;
  width: 44vh;
  backdrop-filter: blur(10px);
}
.body {
  display: inline;
  button {
    margin: 10px 20px 0 0;
    width: 10vh;
    height: 4vh;
    background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
    border-radius: 10px;
    border-color: transparent;
  }
}
.book {
  float: right;
  button {
    position: absolute;
    height: 6.5vh;
    bottom: 16%;
    background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
    border-radius: 10px;
    right: 15px;
    width: 12vh;
  }
}
