@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Ubuntu&family=Dancing+Script:wght@700&display=swap");
$Exo2: "Exo 2", sans-serif;
$Ubuntu:'Ubuntu',sans-serif;
$Dancing:'Dancing Script';
$White:#ffffff;
body,
html {
  
}
.home{
    height: 100%;
    background-image: url("../../Assets/pexels-vecislavas-popa-1571460\ 1.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    word-wrap: break-word;
    background-color: rgba(21, 20, 20, 0.25);
}
.tabs {
    background-color: rgba(21, 20, 20, 0.25);
  color: $White;
  display: flex;
  padding: 30px;
//   .logo{
//     font-size:45px;
//     font-family:$Dancing;
//     color: $White;
//     flex-grow: 2;
// }
button:nth-child(1){
    // justify-self: flex-start;
    font-size:45px;
    font-family:$Dancing;
    color: $White;
    padding: 0px;
    margin: 0px;
    cursor:pointer;
}
button:nth-child(2){margin-left:auto;cursor:pointer;}

  button {
    background-color: transparent;
    margin: 10px;
    color: White;
    border: none;
    font-family: $Exo2;
    font-size:20px;
    font-weight:500;
    width:22vh;
    cursor:pointer;
    :nth-child(1) {
      border-radius: 3px;
      border: solid 10px White;
    }
  }
}

.title {
  font-family: $Exo2;
  font-size:100px;
color:white;
padding:0px 300px;
text-align:center;
margin:40px;
// width: 70%;
height: 38%;
p{
    font-size:30px;

}


}

.search-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width:85%;
    height:15vh;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background:linear-gradient(94.43deg, rgba(249, 249, 249, 0.49) 34.95%, rgba(249, 249, 249, 0.175) 67.01%);
    font-size: 16px;
    margin-top: 10vh;
    p{
        color: black;
        font-family: Ubuntu;
        font-size:22px;
        margin: 9px 0px;
    }
}

.container{
    background-color:$White;
    color:#6D6D6D;
    width:35vh;
    border-radius: 16px;
    padding: 17px;
    height:7vh;
    margin:0px 10px;
    
}

.container-btn{
    background:linear-gradient(90deg, #FF594C 0%, #FAC527 100%);;
    color:White;
    font-size: 26px;
    width:35vh;
    border-radius: 16px;
    padding: 17px;
    height:11vh;
    margin:0px 10px;
    padding:10px;
    span{
        margin-bottom:3px;
    }
}